*~
/enclave/debian/.debhelper/
/enclave/debian/debhelper-build-stamp
/enclave/debian/*.log
/enclave/debian/*.substvars
/enclave/debian/files
/enclave/debian/libsabd-enclave*/
/enclave/linux-sgx*/
/enclave/**/*.so
/enclave/**/*.a
/enclave/**/*.o
/enclave/**/*.deb
/enclave/*.signdata
/enclave/*.mrenclave
/enclave/*.key
/enclave/*.pub
/enclave/*.sig
/enclave/sabd-enclave-test
/enclave/sgxsd-enclave-test
/enclave/debrebuild

# java
/src/**/*.class
/lib/*.jar
.idea
*.iml
target
/service/config/production.yml
/service/config/staging.yml
/service/config/testing.yml
/service/config/local.yml
dependency-reduced-pom.xml
