*~
/enclave/build/
/enclave/debian/.debhelper/
/enclave/debian/debhelper-build-stamp
/enclave/debian/*.log
/enclave/debian/*.substvars
/enclave/debian/files
/enclave/debian/cds-enclave/
/enclave/debian/*.deb
/enclave/*.key

# java
/src/**/*.class
/lib/*.jar
.idea
*.iml
target
/service/config/production.yml
/service/config/staging.yml
/service/config/testing.yml
/service/config/local.yml
/service/src/main/resources/enclave/current.mrenclave
dependency-reduced-pom.xml
