*~
/enclave/build/
/enclave/debian/.debhelper/
/enclave/debian/debhelper-build-stamp
/enclave/debian/*.log
/enclave/debian/*.substvars
/enclave/debian/files
/enclave/debian/cds-enclave/
/enclave/debian/*.deb
/enclave/*.key
/enclave/cscope*

# java
/src/**/*.class
/lib/*.jar
.idea
*.iml
target
/service/config/
/service/src/main/resources/enclave/current.mrenclave
/service/src/main/resources/enclave-jni.so
dependency-reduced-pom.xml

/ratelimiter/config/production.ratelimiter.yml
/ratelimiter/config/staging.ratelimiter.yml
/ratelimiter/config/testing.ratelimiter.yml
/ratelimiter/config/local.ratelimiter.yml
