Source: cds-enclave
Section: database
Priority: optional
Maintainer: Jeffrey Griffin <jeff@signal.org>
Build-Depends:
 debhelper (>= 10),
 automake,
 autoconf,
 libtool,
 curl,
 wget,
 git,
 ocaml-native-compilers,
 pkg-config,
 libssl-dev,
 libprotobuf-dev,
 libcurl4-openssl-dev,
Standards-Version: 4.0.0

Package: cds-enclave
Architecture: amd64
Depends:
 ${misc:Depends},
Description: ContactDiscoveryService Enclave Library
 A package to reproducibly build the enclave library for
 ContactDiscoveryService.
